# ── Nomba API Credentials (sandbox) ──────────────────────
NOMBA_CLIENT_ID=706df6c4-b8bb-4130-88c4-d21b052f8631
NOMBA_CLIENT_SECRET=k8UobYk3APgOoxUnNL7VpuxzwTsH4LsXtydfjcHs8RH0YISBB4OMqJsaafG+U8fWETu9YZ96bNXE+DelCDuMPw==
NOMBA_PARENT_ACCOUNT_ID=f666ef9b-888e-4799-85ce-acb505b28023
NOMBA_SUB_ACCOUNT_ID=0de5a182-5b67-4879-8771-45384e076c30

# ── PostgreSQL ───────────────────────────────────────────
PGHOST=
PGUSER=
PGPASSWORD=
PGDATABASE=
PGPORT=5432

# ── Redis (BullMQ) ─────────────────────────────────────
REDIS_URL=

# ── Misc ────────────────────────────────────────────────
PORT=3000
NODE_ENV=development
PAYMENT_CALLBACK_URL=https://mira-fawn.vercel.app/receipts
